rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /bottles/{bottleID} {
      allow read, write: if false;
    }

    match /reports/{reportID} {
      allow read, write: if false;
    }
  }
}
